<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WOWIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CampaignSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CampaignSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://wizclip.in/CampaignService/Campaign.asmx"
                binding="basicHttpBinding" bindingConfiguration="CampaignSoap"
                contract="Campaign.CampaignSoap" name="CampaignSoap" />
            <endpoint address="http://wizclip.in/CampaignService/Campaign.asmx"
                binding="customBinding" bindingConfiguration="CampaignSoap12"
                contract="Campaign.CampaignSoap" name="CampaignSoap12" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <WOWIntegration.Properties.Settings>
            <setting name="WOWIntegration_Campaign_Campaign" serializeAs="String">
                <value>http://wizclip.in/CampaignService/Campaign.asmx</value>
            </setting>
        </WOWIntegration.Properties.Settings>
    </applicationSettings>
</configuration>